iframe {
  width: 100%;
  min-height: 500px;
  border: 0;
  @media (max-width: 1200px) {
    height: 100%;
    
  }
}

#map {
  position: relative;
}
.map {
  &__details {
    position: absolute;
    top: 5%;
    right: 5%;
    max-width: 329px;
    max-height: 158px;
    background-color: #ffffff;
    padding: 15px;
    @media (max-width: 767px) {
      top:0;
      right: 0;
      width: 60%;
      height: 60%;
    }
    address {
      font-size: 14px;
      font-weight: 300;
      color: #3a3a3a;
      @media (max-width: 767px) {
        font-size: 12px;
      }
      div {
        font-size: 16px;
        font-weight: 700;
        color: $main-color;
        @media (max-width: 767px) {
          font-size: 12px;
        }
      }
    }
    a:nth-child(2) {
      font-size: 14px;
      font-weight: 300;
      color: #3a3a3a;
      @media (max-width: 767px) {
        font-size: 12px;
      }
      &:hover {
        text-decoration: none;
        color: $main-color;
      }
    }
    a:last-child {
      font-size: 14px;
      font-weight: 300;
      text-decoration: underline;
      color: $main-color;
      @media (max-width: 767px) {
        font-size: 12px;
      }
      &:hover {
        color: $main-color;
      }
    }
  }
}